*, ::after, ::before {-webkit-box-sizing: inherit;box-sizing: inherit;}

html, body {height: 100%;}

html {-webkit-box-sizing: border-box;box-sizing: border-box; scroll-behavior: smooth;}

.page {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.title-font {font-family: 'Yantramanav', sans-serif; font-weight: 900; color: white; margin: 0;}

img {max-width: 100%; height: auto; display: block;}

ul {list-style-type: none; margin: 0; padding: 0;}

a {text-decoration: none; color: inherit; display: inline-block;}

/* color pallet */

.bg-bright-red {background: #EB0000;}
.bg-light-grey {background: #A8ACAD;}
.bg-dark-grey {background: #2C2D2E;}
.bg-darker-grey {background: #242526;}
.bg-bright-green {background: #59D852;}
.tx-dark-green {color: #1B3E40;}
.tx-darker-grey {color: #242526;}
.tx-light-grey {color: #A8ACAD;}
.tx-dark-grey {color: #2C2D2E;}
.tx-bright-green {color: #59D852;}

/* navbar */

.navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    padding: 1.5rem 2rem 0 2rem;
    z-index: 500;
}

/* Mobile - navigation */

.nb-logo {display:inline-block; max-width: 3.5rem;}

@media (min-width: 1050px) {
    .nb-logo {
        max-width: 5rem;
    }
}

.navbar-mobile-wrapper {
    z-index: 999;
}

@media (min-width: 815px) {
    .navbar-mobile-wrapper {
        display: none;
    }
}

.nb-mobile-line {
    display: block;
    height: 1px;
    width: 26px;
    margin: 5px auto;
    background-color: white;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-mobile-wrapper.active .nb-mobile-line:nth-child(2) {
    opacity: 0;
}

.navbar-mobile-wrapper.active .nb-mobile-line:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(45deg);
        -ms-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
    background-color: #242526;
}

.navbar-mobile-wrapper.active .nb-mobile-line:nth-child(3) {
    -webkit-transform: translateY(-6px) rotate(-45deg);
        -ms-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
    background-color: #242526;
}

/* Menu - navigation */

.nb-menu-wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 500;
    line-height: min(5vh, 2.5rem);
    -webkit-transition: .4s cubic-bezier(1,0,0,1);
    -o-transition: .4s cubic-bezier(1,0,0,1);
    transition: .4s cubic-bezier(1,0,0,1);
    padding: 2.5rem;
    background-color: #A8ACAD;
}

@media (orientation: landscape) {
    .nb-menu-wrapper {
        width: 60%;
    }
}

.nb-menu-wrapper.active {
    right: 0;
}

@media (min-width: 815px) {
    .nb-menu-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        background-color: transparent;
        width: 100%;
        position: initial;
        padding: 0 0 0 2rem;
    }
}

.nb-link {
    width: 100%;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.4em;
}

@media (min-width: 815px) {
    .nb-link {
        font-size: .8rem;
        padding: 0 1rem 0 0;
        color: #626465;
    }
}

.nb-link-main {
    font-size: 1.4rem;
}

@media (min-width: 815px) {
    .nb-link-main {
        font-size: .85rem;
        color: #A8ACAD;
    }
}

@media (min-width: 815px) {
    .nb-link-expand {
        font-size: .85rem;
        color: #A8ACAD;
    }
}

@media (min-width: 815px) {
    .nb-link-hide {
        display: none;
    }
}

@media (min-width: 815px) {
    .nb-link-home {
        display: none;
    }
}

@media (min-width: 815px) {
    .nb-link-sub {
        display: none;
    }
}

@media (min-width: 1200px) {
    .nb-link-hide {
        display: inline-block;
    }
}

.nb-collapsible-btn {
    all: unset;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (min-width: 815px) {
    .nb-collapsible-btn {
        display: none;
    }
}

.nb-arrow {
    width: 11px;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.nb-arrow.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

@media (min-width: 815px) {
    .nb-items-move {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
}

.nb-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2rem;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

@media (min-width: 815px) {
    .nb-item-wrapper {
        max-height: initial;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        padding: 0;
    }
}

.nb-item {
    font-size: .9rem;
    font-weight: 300;
    color: #242526;
}

@media (min-width: 815px) {
    .nb-item {
        padding: 0 1rem 0 0;
        color: #A8ACAD;
    }
}

/* Main Page */

.header-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.bg-header {
    background-image: url('img/New-Continental-GT3-front-studio-16-9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.header-title-wrapper {
    width: 100%;
    max-width: 1600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: calc(4rem + 4vh);
    margin-bottom: auto;
}

.header-title {
    margin: 0;
    font-size: min(calc(1.7rem + 6vw), 9rem);
    line-height: .55em;
    letter-spacing: -.04em;
}

.hd-stats-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .9em;
    font-weight: 500;
    color: white;
}

@media (min-width: 950px) {
    .hd-stats-wrapper {
        font-size: 1.2em;
    }
}

.hd-stats {
    padding: .6rem .6rem 0 .6rem;
}

@media (min-width: 950px) {
    .hd-stats {
        padding: 1rem 2.2rem 0 2.2rem;
    }
}

.hd-social-media-wrapper {
    margin-top: auto;
    margin-bottom: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.hd-social-media-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hd-sm-logo {
    max-width: 1.2rem;
}

.sm-logo-margin {
    margin: 0 1.8rem;
}

/* Car Tech */

.car-tech-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

@media (orientation: landscape) {
    .car-tech-wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }
}

.ct-img-main {
    background-image: url('img/New-Continental-GT3-dynamic-track-16-9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

@media (orientation: landscape)  {
    .ct-img-main {
        grid-column: 1;
        grid-row: 1;
    }
}

.ct-spot {
    cursor: pointer;
    display: block;
}

@media (orientation: portrait) {
    .ct-section {
        width: 100%;
        max-height: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100;
        justify-items: right;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        -webkit-transition: max-height .6s cubic-bezier(0, 1, 0, 1);
        -o-transition: max-height .6s cubic-bezier(0, 1, 0, 1);
        transition: max-height .6s cubic-bezier(0, 1, 0, 1);
    }
}

@media (orientation: portrait) {
    .ct-section.active {
        max-height: 1500px;
        -webkit-transition: max-height .6s ease-in-out;
        -o-transition: max-height .6s ease-in-out;
        transition: max-height .6s ease-in-out;
    }
}

@media (orientation: landscape)  {
    .ct-section {
        position: absolute;
        right: -100%;
        width: 64%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        justify-items: right;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        grid-column: 1;
        grid-row: 1;
        -webkit-transition: .4s ease-out;
        -o-transition: .4s ease-out;
        transition: .4s ease-out;
    }
}

@media (orientation: landscape)  {
    .ct-section.active {
        position: absolute;
        right: 0;
        grid-column: 1;
        grid-row: 1;
        -webkit-transition: .4s ease-in;
        -o-transition: .4s ease-in;
        transition: .4s ease-in;
    }
}

@media (orientation: portrait) {
    .ct-img {
        grid-column: 1;
        grid-row: 1;
        padding: 1.5rem;
    }
}

@media (orientation: landscape) {
    .ct-img {
        grid-column: 1;
        grid-row: 1;
        padding: 2rem;
    }
}

@media (min-width: 600px) and (orientation: portrait) {
    .ct-img {
        padding: 2rem;
    }
}

.ct-content {
    padding: 1rem 2rem 2rem 1.5rem;
    grid-column: 1;
    grid-row: 1;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    opacity: 0;
    -webkit-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.ct-content:hover, .ct-content:active {
    opacity: 1;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.ct-title {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: right;
}

@media (min-width: 600px) and (orientation: portrait) {
    .ct-title {
        font-size: 1.5rem;
    }
}

@media (min-width: 950px) and (orientation: landscape) {
    .ct-title {
        font-size: 1.4rem;
    }
}

.ct-close-btn {
    all: unset;
    cursor: pointer;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 0;
    line-height: 0;
    max-height: 0;
    overflow: hidden;
}

.ct-close-btn.active {
    padding: 1rem 1rem 0 0;
}

.ct-text {
    font-size: .9rem;
    font-weight: 300;
    text-align: right;
    line-height: 1.5em;
}

@media (min-width: 600px) and (orientation: portrait) {
    .ct-text {
        font-size: 1rem;
    }
}

@media (min-width: 1100px) {
    .ct-text {
        font-size: 1.1rem;
        line-height: 1.7em;
    }
}

/* More Info Styling */

.more-info-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

@media (min-width: 1000px) {
    .more-info-wrapper {
        display: grid;
        grid-template-rows: repeat(6, auto);
    }
}

.mi-nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 2em;
    background-color: #242526;
}

@media (min-width: 1000px) {
    .mi-nav-wrapper {
        display: none;
    }
}

.mi-nav-btn {
    all: unset;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    /* margin-right: 2rem; */
    padding: .5em min(3vw, 3em) .5em 0;
}

@media (min-width: 900px) {
    .mi-nav-btn {
        font-size: 1.5rem;
    }
}

.mi-nav-btn.active, .mi-nav-btn:hover, .mi-nav-btn:active {
    color: #59D852;
}

.mi-text {
    color: white;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6em;
    margin: 1.2rem 2rem 1.5rem 2rem;
}

.design-img {display: block;} /* change this to none??? */
.design-img.active {display: none;} /* When page loads or updates want design to be display block - when active want this to be set to block */

@media (min-width: 1000px) {
    .design-img {
        grid-row: 1;
    }
}

.performance-img {display: none;}
.performance-img.active {display: block;}

@media (min-width: 1000px) {
    .performance-img {
        display: block;
        grid-row: 3;
    }
}

.technology-img {display: none;}
.technology-img.active {display: block;}

@media (min-width: 1000px) {
    .technology-img {
        display: block;
        grid-row: 5;
    }
}

.design-tx {display: block;} /* change to none??? */
.design-tx.active {display: none;} /* change to block??? */

@media (min-width: 1000px) {
    .design-tx {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 0 1em;
        grid-row: 2;
    }
}

.performance-tx {display: none;}
.performance-tx.active {display: block;}

@media (min-width: 1000px) {
    .performance-tx {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 0 1em;
        grid-row: 4;
    }
}

.technology-tx {display: none;}
.technology-tx.active {display: block;}

@media (min-width: 1000px) {
    .technology-tx {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 0 1em;
        grid-row: 6;
    }
}

.mi-header {
    display: none;
}

@media (min-width: 1000px) {
    .mi-header {
        display: block;
        margin: 1rem 0 1rem 0;
    }
}

.mi-bold {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 1rem;
}

@media (min-width: 1000px) {
    .mi-bold {
        grid-row: 2;
        margin-bottom: 0;
        font-size: 2rem;
    }
}

.mi-copy {
    margin: 0;
    font-size: .9em;
}

@media (min-width: 1000px) {
    .mi-copy {
        grid-row: 2;
        font-size: 1.1em;
    }
}

/* Gallery Styling */

.gallery-wrapper {
    width: 100%;
    max-height: 100vh;
    max-width: 1600px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    overflow: hidden;
}

.ga-img-slide {
    width: 100%;
    height: 100%;
    max-width: 1600px;
    grid-column: 1;
    grid-row: 1 / -1;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.ga-img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.ga-btn-wrapper {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 1.8rem;
    z-index: 4;
}

.ga-prev-btn, .ga-next-btn {
    all: unset;
    cursor: pointer;
}

@media (max-width: 600px) {
    .ga-arrow {
        width: 8px;
    }
}

@media (max-width: 600px) {
    .ga-arrow-stroke {
        stroke-width: 4px;
    }
}

.ga-dots-wrapper {
    grid-column: 1;
    grid-row: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10%;
    z-index: 4;
}

.ga-dot {
    width: min(.7vw, 4px);
    height: min(.7vw, 4px);
    margin: 0 min(.5vw, 3px);
    background-color: white;
    border-radius: 50%;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/* Teams Styling */

.teams-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    padding: 2rem 3rem 2rem 3rem;
}

.tm-item-container {
    display: grid;
    grid: auto-flow auto / repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 1000px) {
    .tm-item-container {
        grid: auto-flow auto / repeat(3, 1fr);
        gap: 4rem;
    }
}

.tm-title {
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 700;
    color: white;
}

@media (min-width: 600px) {
    .tm-title {
        font-size: 2rem;
    }
}

.tm-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    margin: 0 auto;
}

@media (min-width: 1000px) {
    .tm-item:nth-child(7) {
        grid-column: 2;
    }
}

.tm-text {
    font-size: .7rem;
    line-height: .7rem;
    text-align: center;
    margin-top: .8rem;
    font-weight: 300;
}

.tm-text > li {
    padding-bottom: .5em;
}

@media (min-width: 1000px) {
    .tm-text {
        font-size: .8rem;
        line-height: .8rem;
        margin-top: 1.5rem;
    }
}

@media (orientation: portrait) {
    .tm-img {
        max-width: min(15vh, 50%);
    }
}

@media (orientation: landscape) {
    .tm-img {
        max-width: min(15vw, 50%);
    }
}

/* Join Bentley Styling */

.join-bentley-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.jb-text-wrapper {
    padding: 1.5rem 2rem 0 2rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media (min-width: 1000px) {
    .jb-text-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 0 2rem;
    }
}

.jb-tx-strong {
    font-size: 1.3rem;
    margin: 0;
}

@media (min-width: 1000px) {
    .jb-tx-strong {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.9rem;
        margin-bottom: 1.5rem;
    }
}

.jb-tx-copy {
    font-size: .85rem;
}

@media (min-width: 1000px) {
    .jb-tx-copy {
        grid-column: 1;
        grid-row: 2;
        font-size: 1rem;
        margin: 0;
    }
}

.jb-tx-last {
    margin-bottom: 0;
    font-size: .9rem;
}

@media (min-width: 1000px) {
    .jb-tx-last {
        grid-column: 2;
        grid-row: 1 / 2;
        font-size: 1.1rem;
        line-height: 1.5em;
        margin-top: 0;
    }
}

.jb-email:hover, .jb-email:active {
    color: #59D852;
}

.jb-email-btn {
    all: unset;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    background-color: rgb(235, 0, 0);
    border: 2px solid #9f0000;
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    padding: .4em;
    font-size: .8rem;
    font-weight: 500;
    margin: 1rem auto 0 auto;
    -webkit-box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.6);
            box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (min-width: 1000px) {
    .jb-email-btn {
        margin: 1rem auto 0 0;
    }
}

.jb-email-btn:hover, .jb-email-btn:active {
    -webkit-box-shadow: 5px 10px 12px rgba(235, 0, 0, 0.4);
            box-shadow: 5px 10px 12px rgba(235, 0, 0, 0.4);
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
}

/* Further Reading Styling */

.further-reading-wrapper {
    margin: 1rem 2rem 1rem 2rem;
}

@media (min-width: 500px) and (max-width: 999px) {
    .further-reading-wrapper {
        margin: 1.5rem min(9.2vw, 5.5em) 2rem min(9.2vw, 5.5rem);
    }
}

@media (min-width: 1000px) {
    .further-reading-wrapper {
        max-width: 1600px;
        margin: 1.5rem auto 2rem auto;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.fr-items-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.fr-item-first {
    padding-bottom: 2rem;
}

@media (min-width: 500px) and (max-width: 999px) {
    .fr-item-first {
        padding-bottom: 2.5rem;
    }
}

@media (min-width: 1000px) {
    .fr-item-first {
        padding: 0 1rem 0 2rem;
    }
}

@media (min-width: 1000px) {
    .fr-item-last {
        padding: 0 2rem 0 1rem;
    }
}

.fr-header {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

@media (min-width: 750px) {
    .fr-header {
        font-size: 2rem;
    }
}

@media (min-width: 1000px) {
    .fr-header {
        font-size: 1.7rem;
    }
}

.fr-text {
    font-size: 1rem;
    color: white;
}

@media (min-width: 750px) {
    .fr-text {
        font-size: 1.4rem;
    }
}

@media (min-width: 1000px) {
    .fr-text {
        font-size: 1.2rem;
    }
}

.fr-img {
    grid-column: 1;
    grid-row: 1;
    border: #A8ACAD solid 1px;
}

.fr-link {
    display: none;
}

@media (min-width: 550px) {
    .fr-link {
        padding: 3.5rem;
    }
}

@media (min-width: 1000px) {
    .fr-link {
        padding: 2.8rem;
    }
}

.fr-items-wrapper:hover > .fr-link, .fr-items-wrapper:active > .fr-link  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column: 1;
    grid-row: 1;
    padding: 2.2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
}

/* Footer Styling */

.footer-wrapper {
    color: white;
    margin: 2rem 2rem 2rem 2rem;
}

@media (min-width: 1000px) {
    .footer-wrapper {
        max-width: 1600px;
        margin: 2rem auto 2rem auto;
        overflow: hidden;
    }
}

.ft-newsletter {
    margin-bottom: 1.5rem;
}

@media (min-width: 1000px) {
    .ft-newsletter {
        margin: 0 0 2rem 2rem;
    }
}

.ft-nl-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
}

@media (min-width: 800px) {
    .ft-nl-form {
        width: 60%;
    }
}

.ft-nl-title {
    font-size: 1rem;
}

.ft-nl-text {
    font-size: .65rem;
    margin-top: .2rem;
    width: 100%;
}

.ft-email {
    width: 100%;
    padding: .5rem;
    border: 1px solid #A8ACAD;
    background-color: #2C2D2E;
    color: white;
    font-size: .6rem;
}

@media (min-width: 1000px) {
    .ft-email {
        padding: .7rem;
        font-size: .7rem;
    }
}

.ft-email:focus {
    outline: 1px solid #A8ACAD;
}

.ft-email-btn {
    all: unset;
    cursor: pointer;
    background-color: #A8ACAD;
    font-size: .6rem;
    padding: calc(.5rem + 2px) min(3vw, 6vw);
}

@media (min-width: 1000px) {
    .ft-email-btn {
        font-size: .7rem;
    }
}

.ft-email-btn:hover, .ft-email-btn:active {
    background-color: #59D852;
}

.ft-details {
    font-size: .7rem;
}

.ft-site-links {
    padding: 0 .6rem;
    line-height: 1.8rem;
}

@media (min-width: 1000px) {
    .ft-site-links {
        padding: 0;
        margin: 0 2rem 0 2rem;
    }
}

.ft-site-links > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 1000px) {
    .ft-site-links > ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.ft-link {
    font-size: .75rem;
    padding: 0 .5rem;
}

@media (min-width: 1000px) {
    .ft-link {
        padding: 0;
    }
}

.ft-link:hover, .ft-link:active {
    color: #59D852;
}

.ft-big {
    font-size: .85rem;
}

.ft-sm-links > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0;
}

@media (min-width: 1000px) {
    .ft-sm-links > ul {
        margin: 2rem 2rem 1rem 2rem;
    }
}

.ft-sm-link {
    max-width: 1rem;
}

.ft-sm-margin {
    margin: 0 1rem;
}

@media (min-width: 1000px) {
    .ft-details {
        margin: 0 2rem 0 2rem;
    }
}

.ft-dt-last {
    margin-bottom: 0;
}
